.ui-widget, .ui-widget .ui-widget {
    font-size: 90%;
}

.ui-layout-unit {
   
   padding-top: 0 !important;
   padding-right:  0 !important;
   padding-bottom:  0 !important;
   padding-left:  0 !important;
   }